body {
  margin: 0px;
  background-color: black;
  height: 100%;
}
h1 {
  color: #fff;
}
h4 {
  color: #f9fcff;
  font-weight: 100;
  font-size: 20px;
}

.container {
  margin: 50px auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(67, 66, 98);
}

.outreaches {
  margin: 20px;
}

.weather {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}

.weathericon {
  width: 250px;
}

.temperature {
  color: #fff;
}

.number {
  font-size: 90px;
  color: #fff;
}
.heading {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  background-color: rgb(39, 46, 74);
}
hr {
  color: rgb(73, 80, 106);
}

.time {
  color: #fff;
  margin: 25px;
}
.degree {
  color: #f9fcff;
  margin: 25px;
  margin: bottom 30px;
}
